<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>415</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>414</string>
					<key>Timestamp</key>
					<string>793562970.947124</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MakeItRain/FuncModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    await self.prepareStartingAmounts(for: self.calModel.sMonth)
</string>
				<key>leading</key>
				<string>                group.addTask {
                    await self.payModel.fetchPaymentMethods(calModel: self.calModel)
</string>
				<key>trailing</key>
				<string>                }
            }
            /// Grab Transaction Title Suggestions.
</string>
			</dict>
			<key>title</key>
			<string>prepare starting amount</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>1296</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>1295</string>
					<key>Timestamp</key>
					<string>793571824.023261</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MakeItRain/FuncModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                    self.prepareStartingAmounts(for: targetMonth)
</string>
				<key>leading</key>
				<string>                    }
                } else {
</string>
				<key>trailing</key>
				<string>                    //calModel.prepareStartingAmount(for: startingAmount.payMethod)
                    let targetAmount = targetMonth.startingAmounts.filter { $0.payMethod.id == startingAmount.payMethod.id }.first
                    if let targetAmount {
</string>
			</dict>
			<key>title</key>
			<string>prepare starting amount</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>70</string>
					<key>Timestamp</key>
					<string>768176755.709182</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MakeItRain/Root/RootView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            funcModel.prepareStartingAmounts(for: targetMonth)
</string>
				<key>leading</key>
				<string>                        let targetMonth = calModel.months.filter{ $0.enumID == selection }.first
                        if let targetMonth {
</string>
				<key>trailing</key>
				<string>                            calModel.setSelectedMonthFromNavigation(navID: selection, prepareStartAmount: true)
                        } else {
                            fatalError("Incorrect month")
</string>
			</dict>
			<key>title</key>
			<string>prepare starting amount</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>357</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>356</string>
					<key>Timestamp</key>
					<string>793380295.493642</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MakeItRain/Calendar/iOS/CalendarViewPhone.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>}
</string>
				<key>leading</key>
				<string>        }
    }
</string>
				<key>trailing</key>
				<string>
#endif
</string>
			</dict>
			<key>title</key>
			<string>prepare starting amount</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>70</string>
					<key>Timestamp</key>
					<string>792432777.0610861</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MakeItRain/Calendar/macOS/CalendarViewMac.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                //funcModel.prepareStartingAmounts()
</string>
				<key>leading</key>
				<string>            }
            .task {
</string>
				<key>trailing</key>
				<string>                /// Needed when selecting a month from a category analytic.
                let viewingMonth = calModel.months.filter { $0.enumID == enumID }.first!
                funcModel.prepareStartingAmounts(for: viewingMonth)
</string>
			</dict>
			<key>title</key>
			<string>prepare starting amount</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>308</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>307</string>
					<key>Timestamp</key>
					<string>792341008.813972</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MakeItRain/Calendar/macOS/ToolbarViews.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                for meth in payModel.paymentMethods.filter({ !$0.isUnified }) {
</string>
				<key>leading</key>
				<string>            Button {
                /// For when you reset the month
</string>
				<key>trailing</key>
				<string>//                    calModel.prepareStartingAmount(for: meth)
//                }
                showStartingAmountsSheet = true
</string>
			</dict>
			<key>title</key>
			<string>prepare starting amounts</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
